[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".config/tmux/plugins/catppuccin/tmux"]
	path = .config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
